{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "printWidth": 100,
    "arrowParens": "always",
    "endOfLine": "lf",
    "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
    "importOrder": [
        "^react",
        "<THIRD_PARTY_MODULES>",
        "^@/app/(.*)$",
        "^@/pages/(.*)/ui/(.*)$",
        "^@/pages/(.*)/model/(.*)$",
        "^@/pages/(.*)/lib/(.*)$",
        "^@/pages/(.*)$",
        "^@/widgets/(.*)/ui/(.*)$",
        "^@/widgets/(.*)/model/(.*)$",
        "^@/widgets/(.*)/lib/(.*)$",
        "^@/widgets/(.*)$",
        "^@/features/(.*)/ui/(.*)$",
        "^@/features/(.*)/model/(.*)$",
        "^@/features/(.*)/lib/(.*)$",
        "^@/features/(.*)$",
        "^@/entities/(.*)/ui/(.*)$",
        "^@/entities/(.*)/model/(.*)$",
        "^@/entities/(.*)/lib/(.*)$",
        "^@/entities/(.*)$",
        "^@/shared/ui/(.*)$",
        "^@/shared/model/(.*)$",
        "^@/shared/lib/(.*)$",
        "^@/shared/(.*)$",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
